td{
    border: 1px solid rgb(181, 13, 214);
    padding: 5px;
    border-radius: 6px;
    background-color: antiquewhite;

}
th {
    border: 1px solid rgb(181, 13, 214);
    padding: 5px;
    border-radius: 6px;
    background-color: rgb(235, 159, 72);
    
}
table{
    background-color: rgb(241, 241, 241);
}